<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:annotation-config/>

    <bean id="myBeanNameAwarePostProcessor" class="com.csitim.sc.postprocessors.MyBeanNameAwarePostProcessor" />

   <!-- <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="customEditors">
            <map>
                <entry key="com.csitim.sc.model.Weapon" value="com.csitim.sc.propertyeditor.WeaponPropertyEditor"/>
            </map>
        </property>
    </bean> -->

    <!-- <util:list id="converters">
        <bean class="com.csitim.sc.converter.WeaponConverter"/>
    </util:list>

    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean" p:converters-ref="converters"/>
    -->

    <util:list id="ogreAssociates">
        <ref bean="igen"/>
        <ref bean="igen"/>
    </util:list>

    <bean id="ogre" class="com.csitim.sc.model.Character" c:name="Ogre" c:hp="100" p:weapon-ref="ogreWeaponByFactory"/>
        <!--p:weapon-ref="ogreWeapon"
        p:associates-ref="ogreAssociates"-->

    <bean id="igen" class="com.csitim.sc.model.Character" c:name="Igen" c:hp="100" p:weapon-ref="ogreWeaponByFactory"/>

    <bean id="weapon" class="com.csitim.sc.model.Weapon" init-method="myInitMethod" destroy-method="myDestroyMethod"
          c:name="Ogre's first weapon" c:hit="50"/>

    <bean id="ogreWeapon2" class="com.csitim.sc.model.Weapon" c:name="Ogre's second weapon" c:hit="50"/>

    <bean id="ogreWeaponByFactory" class="com.csitim.sc.model.OgreWeaponFactoryBean"/>

</beans>